body {
    background:rgb(245, 226, 242);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-weight: bold;
}
.image-with-text {
    width:100%;
    overflow:hidden;
    display: flex;
    align-items: center;
}
.image-with-text img{
    float:left;
    margin-right:20px;
}
.location {
    display: inline-block;
    margin-right:20px;
    vertical align: top;
}
.location img {
    display: block;
    margin-top: 10px;
}